<body>
    <br>
    <br>
    <div class="p-field">
        <div class="col-xs-11 col-sm-8 col-md-5 mx-auto">
            <div class="card-body text-center">

                <div class="p-grid p-fluid">
                    <div class="p-col-12 p-md-6 p-lg-10">
                        <div class="card-header">
                            <h3>AGREGAR MEDISOL</h3>

                            <div class="alert alert-danger" role="alert" *ngIf="isError">
                                {{msgError}}
                            </div>

                            <div class="card-body text-center">
                                <p-button
                                    [label]="selectpersona ? selectpersona.p_cedula : 'Seleccione La Persona Encargada'"
                                    icon="pi pi-search" (click)="op.toggle($event)"></p-button>
                                <br>
                                <br>
                                <input pInputText type="text" name="nombre_medisol"
                                    placeholder="Ingese el nombre del medisol" [(ngModel)]="medi.nombre_medisol"
                                    minlength="3" maxlength="50" pTooltip="Campo Obligatorio"
                                    [attr.disabled]="logeo ? '' : null">
                                <br>
                                <br>
                                <input pInputText type="text" name="direccion" placeholder="Ingresa Direccion "
                                    [(ngModel)]="medi.direccion" minlength="3" maxlength="50"
                                    [attr.disabled]="logeo ? '' : null">
                                <br>
                                <br>

                                <button pButton type="submit" class="ui-button-rounded ui-button-success"
                                    label="Guardar" [attr.disabled]="logeo ? '' : null" (click)="guardar()"></button>
                                <br>
                                <button class="btn btn-link" (click)="cancelar()">Borrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>

<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
    <ng-template pTemplate>
        <p-table [value]="personas" selectionMode="single" [(selection)]="selectpersona"
            (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="p_cedula">CEDULA
                    </th>
                    <th pSortableColumn="p_primer_nombre">NOMBRE
                    </th>
                    <th pSortableColumn="p_primer_apellido">APELLIDO
                    </th>
                    <th pSortableColumn="id_perfil.des_perfil">PERFIL
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-u>
                <tr [pSelectableRow]="rowData">
                    <td>{{u.p_cedula}}</td>
                    <td>{{u.p_primer_nombre}}</td>
                    <td>{{u.p_primer_apellido}}</td>
                    <td>{{u.id_perfil.des_perfil}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-overlayPanel>